<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Calendar"/>
		<StackLayout>
			<Button :text="textPicture" class="btn btn-primary" marginTop="20" @tap="takePicture"></Button>
			<Image :src="pictureFromCamera"/>
			<Button  class="btn btn-danger" marginTop="20" @tap="requestPermissions">カメラの許可を取る</Button>
			<Button  class="btn btn-danger" marginTop="20" @tap="getIsAvailable">許可取れた？</Button>
		</StackLayout>
  </Page>
</template>


<script>
import * as camera from "nativescript-camera";
import * as http from "http";

export default {
    data() {
        return {
            pictureFromCamera: null,
            textPicture: "Take a Picture"
        };
    },
	mounted () { 
        // navigator.mediaDevices.getUserMedia({ video: true }).then(
        //     (mediaStream) => { this.mediaStream = mediaStream })
    },
    methods: {
        onButtonTap() {
            console.log("Button was pressed");
        },
        getIsAvailable() {
          alert(camera.isAvailable())
        },

        takePicture() {
            camera.requestPermissions();
            // See the options at https://github.com/NativeScript/nativescript-camera#using-the-options-to-take-memory-efficient-picture
            // for more information on how to customize the pictures you take.

            camera
                .takePicture({ width: 300, height: 300, keepAspectRatio: true ,saveToGallery: false, cameraFacing: "front" })
                .then(imageAsset => {
                    this.pictureFromCamera = imageAsset;
                    console.log(blob(imageAsset));
                    http.request({
                        url:
                            "https://westcentralus.api.cognitive.microsoft.com/vision/v2.0/analyze",
                        method: "POST",
                        headers: {
                            "Content-Type": "application/octet-stream",
                            "Ocp-Apim-Subscription-Key":
                                "3f940bf7e26b4f5a8b87c6ce3b2f9fb2"
                        },
                        content: JSON.stringify({
                            visualFeatures: "Description",
                            language: "en"
                        }),
                        content: imageAsset
                    }).then(
                        response => {
                            var result = response.content.toJSON();
                            console.log(result);
                        },
                        error => {
                            console.error(error);
                        }
                    );
                })
                .catch(err => {
                    console.log("Error -> " + err.message);
                });
        },
        requestPermissions() {
          camera.requestPermissions();
        }
    }
};

</script>

<style scoped>

@import '~/../node_modules/nativescript-theme-core/css/core.light.css';

</style>
