<template>
  <Page class="page">
    <ActionBar title="Gestures 👌" class="action-bar"/>
    <GridLayout rows="auto, auto, *">
    <Label row="0" class="target" text="Target Area"
        @tap="onTap"
        @doubleTap="onDoubleTap"
        @longPress="onLongPress"
        @swipe="onSwipe"
        @pan="onPan"
        @pinch="onPinch"
        @rotation="onRotation">
    </Label>
    <Label row="1" class="instructions" textWrap="true" text="Try to perform the following gestures in the target area—tap, double tap, long press, swipe, pinch, and rotation."></Label>
    <ListView row="2" class="list-group" for="entry in log">
        <v-template>
        <Label class="m-20" :text="entry.text"></Label>
        </v-template>
    </ListView>
    </GridLayout>
  </Page>
</template>

<script>
const SwipeDirection = require("tns-core-modules/ui/gestures").SwipeDirection;

export default {
data: () => {
    return {
      log: []
    }
  },

  methods: {
    onTap() {
      this.log.unshift({ text: "You performed a tap" });
    },

    onDoubleTap() {
      this.log.unshift({ text: "You performed a double tap" });
    },

    onLongPress() {
      this.log.unshift({ text: "You performed a long press" });
    },

    onSwipe(args) {
      let direction = args.direction == SwipeDirection.down ? "down" :
        args.direction == SwipeDirection.up ? "up" :
          args.direction == SwipeDirection.left ? "left" : "right";
      this.log.unshift({ text: "You performed a " + direction + " swipe" });
    },

    onPan() {
      // Commenting this out as pan events are pretty noisy.
      this.log.unshift({ text: "You performed a pan" });
    },

    onPinch() {
      this.log.unshift({ text: "You performend a pinch" });
    },

    onRotation() {
      this.log.unshift({ text: "You performed a rotation" });
    }
  }
}
</script>

<style scoped>
@import '~/../node_modules/nativescript-theme-core/css/core.light.css';

.target {
    background-color: red;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 150;
}
.instructions {
    padding: 20;
}

</style>