<template>
  <Page class="page">
    <ActionBar title="GitHubトレンド" class="action-bar"/>
    <StackLayout backgroundColor="#3c495e">
      <TextView 
      style="height:300px;"
      :text="description"
      :editable="false" />
      <Button text="Go GitHub!!!!" 
      class="btn btn-primary"
      :isEnabled="selected != null"
      @tap="$router.push('/web_view?url=' + (selected ? selected.url : ''))" />
      <ScrollView orientation="vertical">
        <ListView for="r in repositories" @itemTap="onTapRepository"> 
          <v-template>
            <Label :text="'🌟' + r.stars + ': ' + r.name"/>
          </v-template>
          <v-template if="$odd">
            <Label color="red" :text="'🌟' + r.stars + ': ' + r.name"/>
          </v-template>
        </ListView>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script>
export default {
data: () => {
    return {
      repositories: [],
      selected: null
    }
  },
  created() {
    this.getRepositories();
  },
  computed: {
    description() {
      const selected = this.selected
      if (selected == null) {
        return "きになるrepositoryを選んでね❤️"
      }

      return "author:"	+ selected.author + "\n"
      + "name:"	+ selected.name + "\n"
      + "url:" + selected.url + "\n"
      + "description:" + selected.description + "\n"
      + "language:" + selected.language + "\n"
      + "stars:" + selected.starts + "\n"
      + "forks:" + selected.forks + "\n"
      + "currentPeriodStars:" + selected.currentPeriodStars
    }
  },
  methods: {
    onTapRepository(event) {
      this.selected = event.item
    },
    getRepositories() {
      this.$axios.get("https://github-trending-api.now.sh/repositories")
      .then(res => {
        this.repositories.push(...res.data)
      }).catch(err => {
        alert(err)
      });
    },
    check() {
      alert(this.repositories.length)
      return
    }
  }
}
</script>
