<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Home"/>
    <RadCalendar></RadCalendar> 
  </Page>
</template>

<script>
  export default {
    data () {
      return {
        surprise: false,
        gaugeValue: 2
      };
    },
  };
</script>

<style scoped>
  .hello-world {
    margin: 20;
  }

  Label {
    color: red;
  }
</style>
