<template>
  <Page class="page">
    <ActionBar class="action-bar" title="Home"/>
    <!-- vue0routerの影響でエラー -->
    <!-- <ScrollView orientation="vertical"> -->
      <StackLayout orientation="vertical">
        <Button class="btn btn-primary" @tap="$router.push('/git_hub_trend_api')">GitHubトレンド</Button>
        <Button class="btn btn-primary" @tap="$router.push('/web_view')">webView</Button>
        <Button class="btn btn-primary" @tap="$router.push('/sqlite')">SQLITEでデータ永続化</Button>
        <Button class="btn btn-primary" @tap="$router.push('/counter')">カウンター</Button>
        <Button class="btn btn-primary" @tap="$router.push('/calendar')">カレンダー</Button>
        <Button class="btn btn-primary" @tap="$router.push('/gauge')">がウゲー</Button>
        <Button class="btn btn-primary" @tap="$router.push('/login')">ログイン</Button>
        <Button class="btn btn-primary" @tap="$router.push('/eye_candy')">あいきゃんでぃ</Button>
        <Button class="btn btn-primary" @tap="$router.push('/gesture')">ジェスチャー</Button>
        <Button class="btn btn-primary" @tap="$router.push('/camera')">カメラ</Button>
        <Button class="btn btn-primary" @tap="$router.push('/image')">画像サンプル(base64)</Button>
      </StackLayout>
    <!-- </ScrollView> -->
  </Page>
</template>
