<template>
  <Page class="page">
    <WebView :src="pageSrc" />
  </Page>
</template>

<script>
export default {
data: () => {
    return {
      pageSrc: 'https://github.com/huchenme/github-trending-api'
    }
  },
  created() {
    const url = this.$route.query.url
    if (!url) {
      return
    }

    this.pageSrc = url
  }
}
</script>
